.center {
	height: 100%;
	width: 100%;
	margin-left: 10%;
	margin-top: 10%;
}

.order-table {
	border-collapse: collapse;
}

.order-table-header {
	text-align: center;
	background: none repeat scroll 0 0 #E5E5E5;
	border-bottom: 1px solid #BBBBBB;
	padding: 16px;
}

.order-table-odd-row {
	text-align: center;
	background: none repeat scroll 0 0 #FFFFFFF;
	border-top: 1px solid #BBBBBB;
}

.order-table-even-row {
	text-align: center;
	background: none repeat scroll 0 0 #F9F9F9;
	border-top: 1px solid #BBBBBB;
}

.centerDiv {
	width:270px;
	height:50px;
	position:absolute;
	left:50%;
	top:20%;
	margin:-75px 0 0 -135px;
}

body {
    background-color: white;
}