<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>
	<title>Login</title>
	<style type="text/css">
		.centerDiv{
			width:270px;
			height:150px;
			position:absolute;
			left:50%;
			top:50%;
			margin:-75px 0 0 -135px;
		}
		
		.span-block {
			display: block; 
		}
	</style>
</h:head>
<h:body>
	<div class="centerDiv">
		<form action="j_security_check" method="post">
			<span class="span-block"><label for="j_username">Username:</label></span>
			<span class="span-block"><input type="text" name="j_username" /> </span> 
			<span class="span-block"><label for="j_password">Password:</label></span>
			<span class="span-block"><input type="password" name="j_password" /> </span> 
			<span class="span-block"><input type="submit" value="Entrar" id="Submit" /></span>
		</form>
	</div>
</h:body>
</html>